# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*
# Apple
.DS_Store
*/.DS_Store/*
# VSCode
.vscode
uexp.egg-info
# Python Tools
__pycache__
*/__pycache__/*
*.pyc
# Repo Specific
*/cache/*
*/model_experiments/*
*/experiment_plots/*
*/lightning_logs/*
*/optuna_test/*
*.png
*.pth.tar